<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<a href="/" class="btn btn-primary btn-lg">To main</a>
<a href="/issue" class="btn btn-primary btn-lg">To issue list</a>
<div class="row d-flex justify-content-center">
    <div class="card col-sm-4">
        {{#issue}}
            <h1 class="card-header">{{name}}</h1>
            <div class="card-body">
                <a href="/project/{{project.id}}" class="btn btn-outline-primary btn-block">
                    <b>{{project.id}}</b>
                    <span>{{project.name}}</span>
                </a>
                <hr class="my-4">
                {{details}}
                <hr class="my-4">
                {{#responsible}}
                    <a href="/user/{{id}}" class="btn btn-outline-secondary btn-block">
                        <b>{{id}}</b>
                        <span>{{name}}</span>
                    </a>
                {{/responsible}}
            </div>
        {{/issue}}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>